*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.register {
  background-image: url("../../image/register-bg.jpg");
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
